body {
  font-family: Verdana;
  background-color: white;
}

.bar-white {
  color: black;
  font-size: 2rem;
  font-family: Times;
  position: relative;
}

.small-blue-text-header {
  background: -webkit-linear-gradient(left, #00BEEF, #40CFDE);
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana;
  font-size: .8rem;
  font-weight: 600;
  position: absolute;
  top: 12px;
  padding-left: .5rem;
}

.bar-blue {
  color: white;
  background: -webkit-linear-gradient(top, #40CFDE, #00BEEF);
  padding: 7rem 0;
}

.heading-bar-blue {
  font-size: 2.5rem;
  text-align: center;
}

.text-blue {
  color: #00bef0;
}

.fa-angle-down {
  transition: .3s;
}

.chevron.active .fa-angle-down,
.chevron-2.active .fa-angle-down,
.chevron-3.active .fa-angle-down {
  transform: rotate(-180deg);
}

.accordion-header a {
  color: #000;
}

.accordion-header a:link,
.accordion-header a:visited {
  color: #000;
  text-decoration: none;
}

.accordion-header a:hover,
.accordion-header a:active {
  color: #0096bd;
  cursor: pointer;
}

.code {
  background-color: #000;
  color: #f0f0f0;
  padding: 2rem;
  border-radius: .3rem;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration-line: underline;
}

.button {
  border-radius: 50px;
  margin-top: 25px;
  background-color: #00bef0;
  color: white;
  padding: 18px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: center;
  transition: all .2s;
}

.button:hover {
  background-color: #0096bd;
  cursor: pointer;
}

.showResult {
  border-radius: 50px;
  margin-top: 25px;
  border: 3px #00bef0 solid;
  padding: 18px;
  padding-left: 35px;
}

#footer {
  background: #333;
  padding: 2rem 0;
}

@media(min-width: 992px) {
  .vertical-line {
    margin-bottom: 5rem;
    border-right: 2px solid #f0f0f0;
  }

  .resp-pl-5 {
    padding-left: 3rem;
  }

  .resp-mt-5 {
    padding-top: 3rem;
  }
}