
.header-bar-blue {
  color: white;
  font-size: 40px;
  font-family: Verdana;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #00bef0;
}

.bar-blue {
  color: white;
  font-family: Verdana;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00bef0;
}

.bar-white {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  color: black;
  font-family: Times;
  font-size: 30px;
  padding-left: 240px;
}

.text-blue {
  color: #00bef0;
  font-size: 15px;
  font-family: Verdana;
}

.container{
  padding-left: 240px;
  padding-right: 240px;
}

.left{
  float: left;
}

.problem-panel{
  padding-right: 50px;
  width: 650px;
  font-family: Verdana;
}

.vertical-line{
  margin-top: 60px;
  margin-bottom: 100px;
  border-right: 2px solid #f0f0f0;
}

.result-panel {
  padding-left: 30px;
  padding-bottom: 60px;
  margin-top: 60px;
  width: 288px;
  font-family: Verdana;
}

.button{
  border-radius: 50px;
  margin-top: 25px;
  background-color: #00bef0;
  color: white;
  padding: 18px;
  font-family: Verdana;
  letter-spacing: 1px;
  text-align: center;
}

.button:hover{
  background-color: #0096bd;
  cursor: pointer;
}

#showResult{
  border-radius: 50px;
  margin-top: 25px;
  border: 3px #00bef0 solid;
  padding: 18px;
  padding-left: 35px;
  font-family: Verdana;
}